<div class="container bg-body-tertiary border mt-3">
    <div class="row p-4">
        <div class="col-lg-12">
            <p class="text-center text-md-start display-6 ps-2">Shop</p>

            <!-- <div class="border bg-body-tertiary p-4 fs-6">
                <ul class="list-unstyled">
                    <li>Here's our suggestions based on the issues you have selected</li>
                </ul>
            </div> -->

            <!-- PRODUCTS LIST -->
            <div class="d-flex flex-wrap my-3">
                <app-card [product]="product" *ngFor="let product of products"></app-card>
            </div>
        </div>
    </div>
</div>
