<div class="container border mt-3">
    <div class="row p-4">
        <div class="col-lg-12">
            <p class="text-center text-md-start display-6 ps-2">About</p>

            <!-- ABOUT -->
            <div class="p-4">

                <div class="mb-5">
                    <p class="fs-5 mb-3">
                        <b>Daedalus</b> is a website that helps people find concrete solutions to their
                        everyday problems.
                    </p>
                    <p>
                        Founded in 2023, <b>Daedalus</b> aims at making people's lives easier by offering products that cater to their specific living situation and spending power.
                    </p>
                    <p>
                        With a diverse team of dedicated workers, <b>Daedalus</b> brings its users a variety of products from which to choose, always aiming to be inclusive of people of different backgrounds and cultural sensitivities.
                    </p>

                    <!-- IMAGE -->
                    <!-- <div class="team-image"></div> -->
                    <img src="https://i.ibb.co/wps0vj1/banner-team.jpg" class="img-fluid" alt="Wild Landscape" />

                </div>

                <!-- QUOTE -->
                <div class="fst-italic border border-2 bg-body-tertiary p-4 quote">
                    <p>"Ever since I was little, I have always encountered difficulties in my daily life due to a
                        neurodivergence called ADHD.<br>
                        Unfortunately, in my country there is still very little awareness of the effects of ADHD in
                        adults, so it has always been difficult for me to find solutions that would help me do all
                        those
                        things that are necessary to live on your own, such as washing the dishes, cleaning the
                        house or
                        even just reminding myself not to skip meals or to brush my teeth regularly.</p>

                    <p>Precisely for this reason, I thought: "How nice it would have been to consult a website
                        specifically designed to help people with various difficulties find concrete solutions!"<br>
                        I'm certain if I'd had access to such a site, I could have solved a lot of problems in my
                        life
                        much sooner.</p>

                    <p>So I decided to create a website that does just that: it helps its users find and buy
                        targeted
                        solutions for their own individual problems.</p>

                    <p>The site will allow the user to specify their problems: for example, the user could specify
                        that
                        they are unable to wash the dishes regularly; thanks to this information, the site will
                        understand that what said user most likely needs is a dishwasher.<br>
                        After that, the user can specify the reason why they don't have a dishwasher yet: the user
                        could
                        say, for example, they don't have enough space for a classic dishwasher, therefore the site
                        will
                        suggest some portable mini dishwashers that can also be placed on a table. Or maybe the user
                        will say that they lack the money to buy a classic dishwasher; in that case the site will
                        offer
                        them the cheapest dishwashers as well as the chance of paying in instalments, if they so
                        choose.<br>
                        Another example could be a user who often ends up skipping meals, perhaps because they don't
                        have enough time to cook, or because they tend to forget about it when too focused on
                        something
                        else. The site will likely offer them a cooker with an integrated timer that starts cooking
                        its
                        content at pre-established times. This would help the user, who would only have to insert
                        the
                        necessary ingredients in the morning and then not have to think about it anymore, because
                        lunch
                        or dinner will be ready at the right time.</p>

                    <p>Such a site would allow potential buyers to more easily find the products of various
                        companies,
                        as the problems people face are of varied in nature."
                    </p>
                    <p>I hope you will find <b>Daedalus</b> to be a useful resource to better your own life."
                    </p>

                    <p class="fw-bold text-end fs-6 pt-3">— Serena, the founder</p>
                </div>

            </div>

        </div>
    </div>
</div>
