<!-- DAEDALUS BANNER -->
<div class="container-fluid banner mb-4">
    <div class="row">
        <div class="col-12 text-center">
            <div class="container bg-light py-5 bg-opacity-50">
                <p class="display-1 fw-bold">Daedalus</p>
                <p class="display-6">Identifies the problem and finds solutions.</p>
                <button mat-raised-button color="accent" class="mt-4" routerLink="/selection">Start</button>
            </div>
        </div>
    </div>
</div>

<!-- DIVS -->
<div class="container">
    <div class="row d-flex">

        <div class="div-image col-md-5 col-sm-12 p-5 text-center overflow-hidden" style="max-height: 300px">
            <!-- <img src="https://media.istockphoto.com/id/140217119/it/foto/mio-flatmate-non-ha-svolto-i-lavori-domestici-di-nuovo.jpg?s=1024x1024&w=is&k=20&c=vUL758oWD0IfP9q5W2hSjAZIpgcK7gvgv8EfY5hupqY="
                width="100%"> -->
        </div>

        <div class="col-md-7 col-sm-12 p-5">
            <p class="display-6">Has <b>washing dishes</b> become a challenge?</p>
            <p>More and more people struggle to find the time and motivation to wash their dishes, which in turn
                continue to pile up on the sink until the amount of work required to wash them all becomes
                insurmountable.</p>
            <p class="fs-5"><strong>Solve the problem</strong> by letting us find the right solution for you.</p>
            <div class="text-center">
                <button mat-raised-button color="accent" class="mt-4" routerLink="/selection">Start</button>
            </div>
        </div>

    </div>

    <div class="row d-flex">
        <div class="col-md-7 col-sm-12 p-5">
            <p class="display-6">Has <b>washing dishes</b> become a challenge?</p>
            <p>More and more people struggle to find the time and motivation to wash their dishes, which in turn
                continue to pile up on the sink until the amount of work required to wash them all becomes
                insurmountable.</p>
            <p class="fs-5"><strong>Solve the problem</strong> by letting us find the right solution for you.</p>
            <div class="text-center">
                <button mat-raised-button color="accent" class="mt-4" routerLink="/selection">Start</button>
            </div>
        </div>

        <div class="div-image col-md-5 col-sm-12 p-5 text-center overflow-hidden" style="max-height: 300px">
            <!-- <img src="https://media.istockphoto.com/id/140217119/it/foto/mio-flatmate-non-ha-svolto-i-lavori-domestici-di-nuovo.jpg?s=1024x1024&w=is&k=20&c=vUL758oWD0IfP9q5W2hSjAZIpgcK7gvgv8EfY5hupqY="
                width="100%"> -->
        </div>
    </div>
</div>
