<!-- FOOTER -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="container-lg d-flex justify-content-center justify-content-lg-between">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="d-flex">
                <a href="#" class="me-4">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="#" class="me-4">
                    <i class="bi bi-github"></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-x-diamond-fill pe-2"></i>Daedalus
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Info
                    </h6>
                    <p>
                        <a routerLink="/about">About</a>
                    </p>
                    <p>
                        <a routerLink="/contact">Contact</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a routerLink="#!">Shipping</a>
                    </p>
                    <p>
                        <a href="#!">Orders</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="bi bi-house-fill pe-2"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="bi bi-envelope-fill pe-2"></i>
                        <a href="mailto:info@example.com"> info@example.com</a>
                    </p>
                    <p>
                        <i class="bi bi-telephone-fill pe-2"></i>
                        <a href="tel:+0123456788">+ 01 234 567 88</a>
                    </p>
                    <p>
                        <i class="bi bi-printer-fill pe-2"></i>
                        <a href="tel:+0123456789">+ 01 234 567 89</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
