<div class="container bg-body-tertiary border mt-3">
    <div class="row p-4">
        <div class="col-lg-12">
            <p class="text-center text-md-start display-6 ps-2">Settings</p>

            <!-- SETTINGS -->
            <div class="p-4 bg-body-secondary">

                <!-- DARK MODE -->
                <div class="form-check form-switch d-flex align-items-center">
                    <input class="form-check-input mt-0" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label fs-5 ps-3" for="flexSwitchCheckDefault">Dark mode</label>
                </div>

            </div>

        </div>
    </div>
</div>
